@model IEnumerable<MVCCamiloMentoria.ViewModels.AlunoViewModel>

<div class="container">
    <h3 class="mb-5">Lista de Alunos</h3>
    <div class="d-flex justify-content-between mb-4">
        <!-- Botão para criar novo aluno -->
        <a asp-action="Create" class="btn btn-success btn-lg">
            <i class="fas fa-plus"></i> Criar Novo Aluno
        </a>
    </div>

    <!-- Tabela de Alunos -->
    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Alunos Cadastrados</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.DataNascimento)</th>
                        <th>@Html.DisplayNameFor(model => model.EmailEscolar)</th>
                        <th>@Html.DisplayNameFor(model => model.Escola)</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.DataNascimento)</td>
                            <td>@Html.DisplayFor(modelItem => item.EmailEscolar)</td>
                            <td>@Html.DisplayFor(modelItem => item.Escola.Nome)</td>
                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mb-2">
                                    <i class="fas fa-eye"></i> Detalhes
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mb-2">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i> Excluir
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
