@model IEnumerable<MVCCamiloMentoria.ViewModels.EquipamentoViewModel>

<div class="container">
    <h3 class="mb-5">Lista de Equipamentos</h3>

    <div class="d-flex justify-content-between mb-4">
        <a asp-action="Create" class="btn btn-success btn-lg">
            <i class="fas fa-plus"></i> Criar Novo Equipamento
        </a>
    </div>

    <div class="card shadow-sm mb-5">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Equipamentos Cadastrados</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.StatusOperacional)</th>
                        <th>@Html.DisplayNameFor(model => model.Marca)</th>
                        <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                        <th>@Html.DisplayNameFor(model => model.Escola)</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>
                                @(item.StatusOperacional ? "Operacional" : "Inoperante")
                            </td>
                            <td>@item.Marca?.Nome</td>
                            <td>@item.Modelo?.Descricao</td>
                            <td>@item.Escola?.Nome</td>
                            <td class="text-center">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mb-1">
                                    <i class="fas fa-eye"></i> Detalhes
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mb-1">
                                    <i class="fas fa-edit"></i> Editar
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm mb-1">
                                    <i class="fas fa-trash"></i> Excluir
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
