@model MVCCamiloMentoria.ViewModels.EscolaViewModel

<div class="container">
    <hr />

    <fieldset class="border rounded p-3 mb-4">
        <legend class="w-auto px-2">Informações da Escola</legend>

        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Endereco.NomeRua)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Endereco.NumeroRua)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Endereco.NumeroRua)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Endereco.Complemento)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Endereco.Complemento)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Endereco.CEP)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Endereco.CEP)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Estado.Sigla)
            </dd>
        </dl>
    </fieldset>

    <div class="d-flex justify-content-between">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
